body {
    background-color:rgba(101, 226, 43, 0.623);
}

.imenu li{
    padding: 0em;
}

.imenu a:hover{
    background-color:blue;
}

.header{
    text-align: center;
    /*background-color: lightskyblue;*/
    padding: 1em;
    margin: 1em;
}

.main{
    padding: 1em;
    margin: 1em;
    overflow: auto;
}

@media(min-width:960px){
    .main{
        display: flex;
        /*background-color: blue;*/
    }
}

.pizza-1{
    /*border-style: solid;*/
    border-radius: 2em;
    background-color:darkgreen;
    padding: 1em;
    margin: 2em;
    width: 25%;
}

.pizza-2{
    /*border-style: solid;*/
    border-radius: 2em;
    background-color: chocolate;
    padding: 1em;
    margin: 2em;
    width: 25%;
}

.pizza-3{
    /*border-style: solid;*/
    border-radius: 2em;
    background-color:cornflowerblue;
    padding: 1em;
    margin: 2em;
    width: 25%;
}


img{
    height: 100%;
    width: 100%;
    object-fit:contain;
}
.pm{
    width: 60%;
    padding: 1em;
    margin: 1em;
    background-color: aqua;
}

.pl{
    width: 70%;
    padding: 1em;
    margin:1em;
    background-color: aqua;
}

.ps{
    width: 40%;
    padding: 1em;
    margin: 1em;
    background-color: aqua;
}

.footer{
    width:100%;
    height: 10%;
    padding: 1em;
    display: inline-flex;
    background-color:greenyellow;
}

.one{
    flex: 1;
}

.fit{
    object-fit: contain;
}